# Ignore compiled Python files
__pycache__/

# Ignore local environment
myenv/

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore Firebase authentication file (contains sensitive credentials)
#parchem/parchem-app-03d4cab1485c.json